/* Telo dokumentu */
body {
    font-size: 14px;
    font-family: Merriweather;
    margin: 0;
    line-height: 1.7;
    color: #898989;
}

.content {
    padding: 0px 0px;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 630px;
}

a:hover {
    color: black;
}

a {
    text-decoration: none
}

h1, h2, h3, h4, h5, h6, a {
    font-family: Montserrat;
}



/* Horni panel */
#navigation {
    padding-bottom: 20px;
    padding-top: 20px;
}

#navigation .content {
    display: flex;
    justify-content: space-between;
}

#navigation li {
    font-size: 13px;
    letter-spacing: .05em;
    margin: 0 0 0 20px;
    display: inline;
    font-family: Montserrat;
}

#navigation #nav-logo {
    font-size: 25px;
    color: black;
}

#nav-menu a {
    font-family: Montserrat;
    color: steelblue;
}



/* Obrazek s textem uvnitr */
#header {
    text-align: center;
}

#header img {
    width: 100%;
}

#header .content {
    position: relative;
}

#header h1 {
    font-size: 32px;
    color: white;
    position: absolute;
    bottom: 10px;
    left: 20px;
}



/* Sekce s tremi obrazky a textem */
#about {
    padding-top: 40px;
    padding-bottom: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .content > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about .about-item {
    text-align: left;
    max-width: 31%;
}

#about .about-item img {
    max-width: 100%;
}

#about h2 {
    font-size: 40px;
}

#about h3, #middle-sections h3 {
    font-size: 24px;
}



/* Sekce s novinkami a referencemi */
#middle-sections {
    padding-top: 40px;
    padding-bottom: 100px;
    background: whitesmoke;
}

#middle-sections .content {
    display: flex;
    padding: 20px;
}

#middle-sections h2 {
    font-size: 32px;
}

#news-btn, #submit-btn {
    font-size: 13px;
    letter-spacing: .15em;
}

#news .news-date {
    font-size: 12px;
}

#news .news-item {
    border-bottom: 1px solid #e3e3e3;
}

#news #news-btn {

}

#references {
    flex: 1 0 40%;
    margin: 20px;
}

#references img {
    width: 120px;
    border-radius: 50%;
    display: inline-block;
}

#references blockquote {
    margin-bottom: 100px;
    margin-inline-start: 0;
}

#references p {
    font-size: 19px;
    font-style: italic;
    color: #4d4d4d;
}

#references img {
    margin-right: 20px;
    border-radius: 50%;
    float: left;
    width: 120px;
}

#references span {
    font-size: 14px;
    float: left;
    font-style: italic;
    color: #bfbfbf;
}

#references .ref-author {
    font-size: 14px;
}



/* Ikonky s popisem a odkazy */
#steps {
    padding-top: 40px;
    padding-bottom: 100px;
}

#steps .fas {
    font-size: 60px;
    color: lightsteelblue;
}

#steps .steps-more {
    font-size: 11px;
}

#steps .content {
    display: flex;
    padding: 20px;
}

#steps .content .steps-item {
    display: grid;
    grid-column-gap: 20px;
    margin: 20px;
}

#steps .steps-item i {
    grid-column: 1;
}

#steps .steps-item h3, #steps .steps-item p, #steps .steps-item span {
    grid-column: 2;
}

#steps h3 {
    font-size: 14px;
}




/* Kontakty, odkazy */
#contact {
    padding-top: 40px;
    padding-bottom: 100px;
    background: #262626;
}

#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact h3 {
    font-size: 24px;
    color: white;
}

#contact a:hover {
    color: white;
}

#contact input {
    height: 54px;
    font-size: 18px;
}

#contact input[type=email]:invalid {
    color: red;
}

#contact #submit-btn {
    background: steelblue;
    color: white;
    border-radius: 4px;
}

#contact .content {
    display: flex;
    justify-content: space-between;
}

.contact-item:nth-child(3) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 3px;
}

.contact-item:nth-child(3) input {
    margin: 3px;
}

.contact-item:nth-child(3) input[type=email] {
    order: -1;
    flex: 1 0 100%;
}

#footer-note {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #1a1a1a;
    font-size: 12px;
}