/* Obecne vlastnosti */
body {
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
    width: auto;
    font-size: 1rem;
    background: linear-gradient(#303030, #505050);
    color: white;
}

.master-section {
    min-height: 100vh;
    border-bottom: 2px solid #6e0202;
    display: flex;
    justify-content: center;
}

a {
    color: #ef9733;
}

#content-container .content {
    display: flex;
    justify-content: space-between;
}

.content {
    margin: auto;
    max-width: 1200px;
}

.content-left {
    flex-basis: 60%;
    padding-right: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-right {
    flex-basis: 40%;
}

.padding-border {
    padding-left: 20px;
    padding-right: 20px;
}

h1 > a {
    font-size: 4rem;
    color: white;
    display: block;
}

h1 {
    font-size: 20px;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
}



/* Hlavicka */
header {
    background-color: #6e0202;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.header-content {
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-content h1 {
    margin: 0;
}

nav .content {
    height: 100%;
}

.nav-content {
    max-width: 1240px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

nav {
    background: #080808;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
}

nav li {
    position: relative;
    display: inline-block;
    padding: 20px;
}

nav li:hover {
    background: #7d1010;
}

nav li a {
    color: white;
    font-size: 15px;
    margin: auto;
}

.hamburger {
    position: absolute;
    padding: 20px;
    color: white;
    display: none;
    right: 0;
}

i {
    padding-right: 5px;
}

.fixed {
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
}



/* Sekce Identity */
#identity {
    padding-top: 20px;
    padding-bottom: 50px;
}

.master-section h1 {
    font-size: 48px;
}

#identity-items-wrapper {
    display: flex;
}

#identity .identity-item {
    max-width: 50%;
}

#identity p {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#identity-img-wrapper img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}



/* Sekce History */
#realms {
    text-align: center;
}

#realms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#realms .realm-item {
    text-align: left;
    max-width: 31%;
}

#realms .realm-item img {
    max-width: 100%;
}

/* Sekce prednasky */
.lecture-wrapper {
    display: flex;
    justify-content: start;
}

.lectures-container div .lecture-wrapper:last-of-type {
    padding-top: 30px;
}

.lecture-content {
    padding-left: 20px;
    text-align: justify;
    width: 100%;
}

.lecture-wrapper img {
    align-self: flex-start;
}

.lectures-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.lectures-container div:not(:first-child) {
    margin-left: 5px;
}

.lectures-container div:not(:last-child) {
    margin-right: 5px;
}

#history h3 {
    border-bottom: 2px dotted #b15e23;
    margin-top: 0;
}



/* Tabulka s vysledky */
#motivation table {
    width: 100%;
}

#motivation tr td:first-of-type {
    text-align: left;
}

#motivation td {
    text-align: center;
}



/* Sekce Cviceni */
#assignments {
    padding-bottom: 30px;
}

.assignment {
    border-bottom: 2px dotted #b15e23;
    padding: 20px 0;
}

.assignment:first-of-type {
    padding-top: 0;
}

.assignment-wrapper {
    display: flex;
}

.assignment-wrapper img {
    align-self: flex-start;
}

.assignment-wrapper p {
    padding-left: 20px;
    margin: 0;
}

.padding-assignments {
    padding-right: 20px;
    padding-left: 20px;
}



/* Sekce Souvisejici */
#related ul {
    padding-left: 20px;
}

#related {
    padding-left: 60px;
}



/* Paticka */
footer {
    padding-bottom: 10px;
    padding-top: 10px;
}

footer ul {
    list-style-image: url('ikony/footer_list_bullet.gif');
}

footer a {
    color: #d5a17c;
}

footer h2 {
    color: white;
}

#footer-content {
    display: flex;
    justify-content: left;
    width: 66.66%;
}

dl {
    display: table;
}

.dl-table-row {
    display: table-row;
}

dt {
    display: table-cell;
    color: white;
}

dd {
    display: table-cell;
    text-align: right;
    padding-left: 30px;
}



/* Atributy pro rozliseni */
@media screen and (min-width: 768px) {

}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #nav-text span {
        display: none;
    }

    .lectures-container {
        flex-wrap: wrap;
    }

    .lectures-container div {
        width: 100%;
    }

    .lectures-container div .lecture-wrapper:last-of-type {
        padding-top: 0;
    }

    #contacts {
        width: 60%;
    }

    #related {
        width: 40%;
        padding-left: 60px;
    }

    #footer-content {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .content-left {
        flex-basis: 66.666%;
    }
    .content-right {
        flex-basis: 33.333%;
    }
}

@media screen and (min-width: 0px) and (max-width: 767px) {
    #identity-items-wrapper {
        flex-direction: column;
    }

    #identity-img-wrapper img {
        position: inherit;
        top: 0;
        transform: inherit;
    }

    #identity .identity-item {
        max-width: 100%;
    }

    #realms {
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }

    #realms .realm-item {
        max-width: 100%;
    }

    #nav-text span {
        display: none;
    }

    #related {
        padding-left: 0;
    }

    #content-container .content {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .lectures-container div .lecture-wrapper:last-of-type {
        padding-top: 0;
    }

    .lectures-container {
        flex-wrap: wrap;
    }

    .lectures-container div:not(:first-child) {
        margin-left: 0;
    }

    .lectures-container div:not(:last-child) {
        margin-right: 0;
    }

    .lectures-container div {
        width: 100%;
    }

    #footer-content {
        flex-wrap: wrap;
        width: 100%;
    }

    #contacts, #related {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 575px) {
    #nav-text li {
        display: none;
    }

    #nav-text li:first-of-type {
        display: inline;
    }

    .hamburger {
        display: inherit;
        transition: 0.2s;
    }

    .hamburger a {
        color: white;
    }

    .hamburger:hover {
        transform: scale(1.2);
    }

    .responsive li {
        display: inherit !important;
    }

    .responsive {
        flex-direction: column;
        align-items: start;
        flex-basis: 100%;
    }

    .responsive li {
        padding-left: 20px !important;
        width: 100%;
    }

    .responsive a {
        display: flex;
        justify-content: space-between;
        align-items: start;
        margin-left: 0;
    }

    .responsive span {
        display: block !important;
    }
}